.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    &__hearts {
        padding: 1rem;
    }
    &__heart,
    &__broken-heart {
        height: 2rem;
        width: 2rem;
    }
}