.quote {
  display: flex;
  width: 100%;
  padding: 1rem;

  &__left-side {
    // display: flex;
    // align-content: center;
    width: 40%;
    padding-right: 2rem;
  }

  &__right-side {
    width: 60%;
  }

  &__image {
    width: 100%;
    // object-fit: cover;
  }

  &__author {
    float: right;
    font-size: 2rem;
  }
  &__text {
    font-size: 3rem;
    margin: 0;
    word-spacing: 1.5rem;
  }
}

.word {
  white-space: nowrap;
}

.character {
  position: relative;
  color: transparent;
  margin-right: 5px;

  &::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
  }

  &--correct {
    color: black;
  }

  &--incorrect {
    color: red;
  }
}

main {
  display: flex;
  align-items: center;
}
